<html>
  <head>
    <title>Route Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
		<h1>Course一覧</h1>
		<%= link_to "新規投稿ページへ", courses_new_path %>
		<% @courses.each do |t| %>
			<div class="course">
				<%= t.start %>
				<%= t.destination %>
			</div>
		<% end %>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
  </body>
</html>
<style>
	#map {
		height: 90%;
	}
	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
</style>
<script>
let map;

async function initMap() {
  const { Map } = await google.maps.importLibrary("maps");

  map = new Map(document.getElementById("map"), {
    center: { lat: 34.7024, lng: 135.4959 },
    zoom: 12,
  });
  google.maps.event.addListener(map, 'click', event => clickListener(event, map));
}

initMap();

function clickListener(event, map) {
  const lat = event.latLng.lat();
  const lng = event.latLng.lng();
  const marker = new google.maps.Marker({
    position: {lat, lng},
    map
  });
}
</script>

