<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ログイン画面</title>
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- サイトトップボタン -->
    <button class="siteTopButton" onclick="location.href='/courses/siteTop.html'">サイトトップ</button>
    <div class="background">
      <!-- サイトトップボタン -->
      <button class="siteTopButton" onclick="location.href='/courses/siteTop.html'">サイトトップ</button>
      <div class="login">
        <div style="background: #ffffff; border: #060606 double 6px; border-radius:15px; font-size: 100%;">
          <div class="login-screen">
            <div class="app-title">
              <h1>ログイン</h1>
              <% if user_signed_in? %>
                <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-nav" %>
              <% else %>
                <%= link_to "ログイン", new_user_session_path, class: "btn" %>
                <%= link_to "新規作成", new_user_registration_path, class: "btnNew" %>
              <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
