<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ログイン画面</title>
  </head>
  <body>
    <div>
        <br>
        <!-- アカウント名入力 -->
        <input class="account1" type="text" placeholder="アカウント名">
        <br>
        <!-- Eメールアドレス入力-->
        <input class="adress1" type="text" placeholder="Eメールアドレス">
        <br>
        <!-- ログインボタン -->
        <button class="loginButton2" onclick="location.href='./myPageRecommend.html'">ログイン</button>
        <br>
        <!-- 新規作成ボタン -->
        <button class="newAccount" onclick="location.href='./myPageRecommend.html'">新規作成</button>
    </div>
  </body>
</html>