<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ログイン画面</title>
  </head>
  <body>
    <div>
        <br>
        <!-- アカウント名入力 -->
        <input class="account2" type="text" placeholder="アカウント名">
        <br>
        <!-- Eメールアドレス入力-->
        <input class="adress2" type="text" placeholder="Eメールアドレス">
        <br>
        <!-- 作成ボタン -->
        <button class="createButton" onclick="location.href='./mypageRecommend.html'">作成</button>
        <br>
    </div>
  </body>
</html>