<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>サイトトップ</title>
    <%= stylesheet_link_tag 'mypageHistory', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- ログインボタン -->
    <button class="signOutButton" onclick="location.href='./siteTop.html'">サインアウト</button>
    <div class="textRecommendRoute">
        履歴
    </div>
    <div class="divcenter">
      <div class="recommendRoute2">
        
      </div>
      <!-- 経路検索ボタン -->
    <button class="searchButton" onclick="location.href='./new.html'">経路検索</button>
    </div>
  </body>
</html>