.account1{
    margin-top: 15vh;
    margin-left: 30vw;
    height: 5vh;
    width: 40vw;
}
.adress1{
    margin-top: 10vh;
    margin-left: 30vw;
    height: 5vh;
    width: 40vw;
}
.loginButton2{
    margin-top: 10vh;
    margin-left: 45vw;
    width: 8vw;
    height: 5vh;
    background-color: #fefdfd;
}
.newAccount{
    margin-top: 10vh;
    margin-left: 45vw;
    width: 8vw;
    height: 5vh;
    color: #fefdfd;
    background-color: #5d5ded;
}