.field:before {
    background-image: url("https://as1.ftcdn.net/v2/jpg/03/57/33/96/1000_F_357339685_kL4t7I5t1ZQv7vERZDqfL8tfP29dWmi6.jpg");
    background-size: cover;
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    filter: blur(3px);
    z-index: -1;
}
.field input[type="text"] {
    width: 50vw;
    height: 5vh;
    text-align: center;
    margin-top: 10vh;
    margin-left: 24vw;
}

.background {
    background-position: center;
    text-align: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

#text_transportation{
    margin-left: 44vw;
}

#transportation {
    margin-bottom: 4vh;
   
}

#add_waypoint {
  margin-top: 2vh;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  padding: 8px 12px;
  margin-left: 48vw;
  background-color: #fbfafa;
}

#search_route {
    padding: 8px 12px;
    margin-left: 80vw;
    background-color: #719ee1;
}