*,body,ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/* ↓ スライドの外枠 */
.slide-wrapper {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden; /* はみ出したスライドを隠す */
}
.loginButton {
  z-index: 1;
  position: fixed;
  margin-top: 2vh;
  width: 8vw;
  height: 5vh;
  margin-left: 90%;
  background-color: #fefdfd;
}
/*  ↓ スライド（コンテンツ） */
.slide { /*スライド全体 */
  z-index: 0;
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 0.1s;
}
.slide div { /* スライド */
  z-index: 0;
  width: 33.33%;
  height: 100%;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.slide img {
  z-index: 1;
  width: 100%;
  height: auto;
}
.slide1 { /* スライドさせるために必要なクラス */
  transform: translateX(0);
}
.slide2 { /* スライドさせるために必要なクラス */
  transform: translateX(-33.33%);
}
.slide3 { /* スライドさせるために必要なクラス */
  transform: translateX(-66.66%);
}
.slide div:nth-of-type(1){ /* 背景色 */
  background-color: #E1F3FC;
}
.slide div:nth-of-type(2){ /* 背景色 */
  background-color: #FCE8F0;
}
.slide div:nth-of-type(3){ /* 背景色 */
  background-color: #E3F1E4;
}
/* ↓ 左右のボタン */
.next {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #fefdfd;
  border-right: solid 3px #fdfdfd;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}
.prev {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 25px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #fefefe;
  border-right: solid 3px #fefdfd;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}
/* ↓ インジケーター */
.indicator {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  column-gap: 18px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.indicator li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  border: 2px #000 solid;
  cursor: pointer;
}
.indicator li:first-of-type {
  background-color: #000;
}
.divcenter {
  text-align: center;
}
.recommendRoute1 {
  z-index: 0;
  margin-left: 20vw;
  margin-right: 15vw;
  margin-top: 15px;
  height: 48vh;
  width: 60vw;
  border:2px solid #000;
}

.title {
  font-size: 40px;
}

.recommend {
  font-size: 30px;
}

.searchButton {
  z-index: 1;
  margin-top: 0vh;
  width: 8vw;
  height: 5vh;
  margin-left: 85%;
  background-color: #fefdfd;
}

cp_box *, .cp_box *:before, .cp_box *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.recommend1 {
  font-size: 30px;
}
.cp_box {
  width: auto;
}
.cp_box label {
  font-weight: bold;
  position: relative;
  display:block;
  width: 20%;
  height:20%;
  margin: auto;
  padding: 0.3em 1em;
  cursor: pointer;
  transition: all 0.1s;
  text-align: center;
  color: #040404;
  border: 2px solid #040404;
  border-radius: 3px;
}
.cp_box label:hover {
  transition: all 0.1s;
  color: #ffffff;
  background: #6d6a6b;
}



.cp_box input {
  display: none;
}
.cp_box .cp_container {
  position: relative;
  z-index: 10;
  overflow: hidden;
  height: 0;
  margin-top: -1px;
  transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  background: rgba(255, 255, 255, 0.5);
}
.cp_box input:checked ~ div {
  transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
}
/* 続きを読むを押すと表示されるテキストの高さ */
.cp_box input:checked ~ div.cp_container {
  height: 20px;
}

cp_box *, .cp_box *:before, .cp_box *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cp_box1 {
  width: auto;
}
.cp_box1 label {
  font-weight: bold;
  position: relative;
  display:block;
  width: 20%;
  height:20%;
  margin: auto;
  padding: 0.3em 1em;
  cursor: pointer;
  transition: all 0.1s;
  text-align: center;
  color: #040404;
  border: 2px solid #040404;
  border-radius: 3px;
}
.cp_box1 label:hover {
  transition: all 0.1s;
  color: #ffffff;
  background: #6d6a6b;
}



.cp_box1 input {
  display: none;
}
.cp_box1 .cp_container1 {
  position: relative;
  z-index: 10;
  overflow: hidden;
  height: 0;
  margin-top: -1px;
  transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  background: rgba(255, 255, 255, 0.5);
}
.cp_box1 input:checked ~ div {
  transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
}
/* 続きを読むを押すと表示されるテキストの高さ */
.cp_box1 input:checked ~ div.cp_container1 {
  height: 20px;
}

.cp_box1 *, .cp_box1 *:before, .cp_box1 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp_box2 {
  width: auto;
}
.cp_box2 label {
  font-weight: bold;
  position: relative;
  display:block;
  width: 20%;
  height:20%;
  margin: auto;
  padding: 0.3em 1em;
  cursor: pointer;
  transition: all 0.1s;
  text-align: center;
  color: #040404;
  border: 2px solid #040404;
  border-radius: 3px;
}
.cp_box2 label:hover {
  transition: all 0.1s;
  color: #ffffff;
  background: #6d6a6b;
}



.cp_box2 input {
  display: none;
}
.cp_box2 .cp_container2 {
  position: relative;
  z-index: 10;
  overflow: hidden;
  height: 0;
  margin-top: -1px;
  transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  background: rgba(255, 255, 255, 0.5);
}
.cp_box2 input:checked ~ div {
  transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
}
/* 続きを読むを押すと表示されるテキストの高さ */
.cp_box2 input:checked ~ div.cp_container2 {
  height: 20px;
}

.cp_box2 *, .cp_box2 *:before, .cp_box2 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}